<section class="about" id="about">
    <div class="about__container">
        <div class="about__text">
            <h2 class="about__title">О компании</h2>
            <p class="about__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
            <button type="button" class="about__button">
                Читать
                <img 
                    src="./images/svg/arrow-right.svg" 
                    alt="forward"
                    class="hero__icon"
                />
            </button>
        </div>
        
        <div class="about__gallery">
            <img src="./images/jpg/about1.jpg" alt="glass house" class="about__gallery-item" />
            <img src="./images/jpg/about3.jpg" alt="glass house" class="about__gallery-item" />
            <img src="./images/jpg/about2.jpg" alt="glass house" class="about__gallery-item" />
        </div>
    </div>
</section>