<footer class="footer" id="footer">
    <a href="/" class="header__logo">
        <svg width="70" height="44">
            <use href="./images/svg/logo.svg"></use>
        </svg>
    </a>
    <div>
        <h3>Информация</h3>
        <ul>
            <li class="footer__list-item">
                <a href="#header" class="footer__link">Главная</a>
            </li>
            <li class="footer__list-item">
                <a href="#hero" class="footer__link">Галерея</a>
            </li>
            <li class="footer__list-item">
                <a href="#projects" class="footer__link">Проекты</a>
            </li>
            <li class="footer__list-item">
                <a href="#project" class="footer__link">Сертификаты</a>
            </li>
            <li class="footer__list-item">
                <a href="#contact" class="footer__link">Контакты</a>
            </li>
        </ul>
    </div>
    <div>
        <h3>Контакты</h3>
        <ul>
            <li>
                <p>
                    100000, Республика  Казахстан, г. Караганда, ул. Телевизионная 10
                </p>
            </li>
            <li>
                <p>+38 (000) 000 00 00</p>
            </li>
            <li>
                <p>mail@gmail.com</p>
            </li>
        </ul>
    </div>
    <div>
        <h3>Социальные сети</h3>
        <ul>
            <li>
                <a href="/">
                    <!-- <svg width="30" height="30">
                        <use href=""></use>
                    </svg> -->
                </a>
            </li>
            <li>
                <a href="/">
                    <!-- <svg width="30" height="30">
                        <use href=""></use>
                    </svg> -->
                </a>
            </li>
            <li>
                <a href="/">
                    <!-- <svg width="30" height="30">
                        <use href=""></use>
                    </svg> -->
                </a>
            </li>
            <li>
                <a href="/">
                    <!-- <svg width="30" height="30">
                        <use href=""></use>
                    </svg> -->
                </a>
            </li>
        </ul>
    </div>
    <p>&#169; 2019 Digital Project. Все права защищены.</p>
</footer>