<footer class="footer" id="footer">
    <div class="footer__content">
        <a href="#header" class="footer__logo">
            <img src="./images/svg/logo-light.svg" alt="logo" class="footer__logo-img" />
        </a>
        <div class="footer__info">
            <h3 class="footer__title">Информация</h3>
            <ul class="footer__nav-list">
                <li class="footer__list-item">
                    <a href="#header" class="footer__link">Главная</a>
                </li>
                <li class="footer__list-item">
                    <a href="#hero" class="footer__link">Галерея</a>
                </li>
                <li class="footer__list-item">
                    <a href="#projects" class="footer__link">Проекты</a>
                </li>
                <li class="footer__list-item">
                    <a href="#project" class="footer__link">Сертификаты</a>
                </li>
                <li class="footer__list-item">
                    <a href="#contact" class="footer__link">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="footer__contacts">
            <h3 class="footer__title">Контакты</h3>
            <ul class="footer__contact-list">
                <li class="footer__contact">
                    <img src="./images/svg/pin.svg" alt="address" class="footer__icon" />
                    <p>
                        100000, Республика  Казахстан, г.Караганда, ул.Телевизионная 10
                    </p>
                </li>
                <li class="footer__contact">
                    <img src="./images/svg/phone.svg" alt="address" class="footer__icon" />
                    <p>+38 (000) 000 00 00</p>
                </li>
                <li class="footer__contact">
                    <img src="./images/svg/mail.svg" alt="address" class="footer__icon" />
                    <p>mail@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="footer__social">
            <h3 class="footer__title">Социальные сети</h3>
            <ul class="footer__social-list">
                <li>
                    <a href="https://www.facebook.com/" class="footer__social-link" rel="noopener noreferrer" target="_blank">
                        <img src="./images/svg/fb.svg" alt="address" class="footer__icon" />
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" class="footer__social-link" rel="noopener noreferrer" target="_blank">
                        <img src="./images/svg/twitter.svg" alt="address" class="footer__icon" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/" class="footer__social-link" rel="noopener noreferrer" target="_blank">
                        <img src="./images/svg/linkedin.svg" alt="address" class="footer__icon" />
                    </a>
                </li>
                <li>
                    <a href="https://www.pinterest.com/" class="footer__social-link" rel="noopener noreferrer" target="_blank">
                        <img src="./images/svg/pinterest.svg" alt="address" class="footer__icon" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p class="copyright">&#169; 2019 Digital Project. Все права защищены.</p>
</footer>