<header class="header" id="header">
    <nav class="header__nav">
        <a href="/" class="header__logo">
            <img src="./images/svg/logo.svg" alt="логотип" class="header__logo-img" />
        </a>
        <ul class="header__nav-list">
            <li class="header__list-item">
                <a href="#header" class="header__link navLink">Главная</a>
            </li>
            <li class="header__list-item">
                <a href="#hero" class="header__link navLink">Галерея</a>
            </li>
            <li class="header__list-item">
                <a href="#projects" class="header__link navLink">Проекты</a>
            </li>
            <li class="header__list-item">
                <a href="#about" class="header__link navLink">Сертификаты</a>
            </li>
            <li class="header__list-item">
                <a href="#contact" class="header__link navLink">Контакты</a>
            </li>
        </ul>
    </nav>
</header>