<section class="hero" id="hero">
    <div>
        <h1 class="hero__title">Project 
            <span class="hero__title-accent">Home</span>
        </h1>
        <div class="hero__buttons">  
            <button type="button" class="hero__button">
                <img 
                    src="./images/svg/arrow-left.svg" 
                    alt="назад" 
                    class="hero__icon"
                />
            </button>
            <button type="button" class="hero__button">
                <img 
                    src="./images/svg/arrow-right.svg" 
                    alt="вперед"
                    class="hero__icon"
                />
            </button>
        </div>
        
        <div class="hero__pages">
            <span class="hero__page">01</span>
            <span class="hero__divider">
                <img 
                    src="./images/svg/line.svg" 
                    alt="слеш" 
                />
            </span>
            <span class="hero__page">02</span>
        </div>
    </div>
    
    <div class="hero__gallery">
        <img src="./images/jpg/hero1.jpg" alt="фото галереи" class="hero__gallery-img" />
        <button type="button" class="hero__gallery-button">
            Взглянуть
            <img 
                src="./images/svg/arrow-right.svg" 
                alt="forward"
                class="hero__icon"
            />
        </button>
    </div>
</section>