<section class="projects" id="projects">
    <h2 class="projects__title">Наши проекты</h2>
    <ul class="projects__list">
        <li class="projects__list-item">
            <a href="/" class="projects__link">
                <div class="projects__box">
                    <img src="./images/jpg/project1.jpg" alt="project 1" class="projects__image" />
            
                    <div class="projects__overlay">
                        <div>
                            <h3 class="project__title">
                                Досуговый центр
                            </h3>
                            <button type="button" class="projects__button">
                                Подробнее
                                <img 
                                    src="./images/svg/arrow.svg" 
                                    alt="forward"
                                    class="projects__icon"
                                />
                            </button>
                        </div>
                    </div> 
                </div>
            </a>
        </li>
        <li class="projects__list-item">
            <a href="/" class="projects__link">
                <div class="projects__box">
                    <img src="./images/jpg/project2.jpg" alt="project 2" class="projects__image" />
            
                    <div class="projects__overlay">
                        <div>
                            <h3 class="project__title">
                                Музей культуры
                            </h3>
                            <button type="button" class="projects__button">
                                Подробнее
                                <img 
                                    src="./images/svg/arrow.svg" 
                                    alt="forward"
                                    class="projects__icon"
                                />
                            </button>
                        </div>
                    </div> 
                </div>
            </a>
        </li>
        <li class="projects__list-item">
            <a href="/" class="projects__link">
                <div class="projects__box">
                    <img src="./images/jpg/project3.jpg" alt="project 3" class="projects__image" />
            
                    <div class="projects__overlay">
                        <div>
                            <h3 class="project__title">
                                Школа
                            </h3>
                            <button type="button" class="projects__button">
                                Подробнее
                                <img 
                                    src="./images/svg/arrow.svg" 
                                    alt="forward"
                                    class="projects__icon"
                                />
                            </button>
                        </div>
                    </div> 
                </div>
            </a>
        </li>
        <li class="projects__list-item">
            <a href="/" class="projects__link">
                <div class="projects__box">
                    <img src="./images/jpg/project4.jpg" alt="project 4" class="projects__image" />
            
                    <div class="projects__overlay">
                        <div>
                            <h3 class="project__title">
                                Отельный комплекс
                            </h3>
                            <button type="button" class="projects__button">
                                Подробнее
                                <img 
                                    src="./images/svg/arrow.svg" 
                                    alt="forward"
                                    class="projects__icon"
                                />
                            </button>
                        </div>
                    </div> 
                </div>
            </a>
        </li>
        <li class="projects__list-item">
            <a href="/" class="projects__link">
                <div class="projects__box">
                    <img src="./images/jpg/project5.jpg" alt="project 5" class="projects__image" />
            
                    <div class="projects__overlay">
                        <div>
                            <h3 class="project__title">
                                Парк
                            </h3>
                            <button type="button" class="projects__button">
                                Подробнее
                                <img 
                                    src="./images/svg/arrow.svg" 
                                    alt="forward"
                                    class="projects__icon"
                                />
                            </button>
                        </div>
                    </div> 
                </div>
            </a>
        </li>
        <button type="button" class="projects__all-button">
            Все проекты
            <img 
                src="./images/svg/arrow.svg" 
                alt="forward"
                class="projects__icon"
            />
        </button>
    </ul>
</section>