<section class="projects" id="projects">
    <h2>Наши проекты</h2>
    <ul>
        <li>
            <a href="/" >
                <!-- <img src="" alt="" /> -->
            </a>
            <div>
                <h3>
                    Досуговый центр
                </h3>
                <button type="button">Подробнее</button>
            </div> 
        </li>
        <li>
            <a href="/" >
                <!-- <img src="" alt="" /> -->
            </a>
            <div>
                <h3>
                    
                </h3>
                <button type="button">Подробнее</button>
            </div> 
        </li>
        <li>
            <a href="/" >
                <!-- <img src="" alt="" /> -->
            </a>
            <div>
                <h3>
                    
                </h3>
                <button type="button">Подробнее</button>
            </div> 
        </li>
        <li>
            <a href="/" >
                <!-- <img src="" alt="" /> -->
            </a>
            <div>
                <h3>
                    
                </h3>
                <button type="button">Подробнее</button>
            </div> 
        </li>
        <li>
            <a href="/" >
                <!-- <img src="" alt="" /> -->
            </a>
            <div>
                <h3>
                    
                </h3>
                <button type="button">Подробнее</button>
            </div> 
        </li>
        <button type="button">Все проекты</button>
    </ul>
</section>