<section class="tasks" id="tasks">
    <h2>Основные задачи</h2>
    <ul>
        <li>
            <!-- <img src="" alt="" /> -->
            <p>
                Создание комфортных условий и повышение качества обслуживания клиентов
            </p>
        </li>
        <li>
            <!-- <img src="" alt="" /> -->
            <p>
                Постоянно совершенствовать качество предоставляемых услуг путем обучения персонала, закупки нового оборудования и усиленной рекламы на рынке
            </p>
        </li>
    </ul>
</section>