<section class="tasks" id="tasks">
    <h2 class="tasks__title">Основные задачи</h2>
    <ul class="tasks__list">
        <li class="tasks__list-item">
            <img src="./images/jpg/1.png" alt="1" />
            <p class="tasks__task-one">
                Создание комфортных условий и повышение качества обслуживания клиентов
            </p>
        </li>
        <li class="tasks__list-item">
            <img src="./images/jpg/2.png" alt="2" />
            <p class="tasks__task-two">
                Постоянно совершенствовать качество предоставляемых услуг путем обучения персонала, закупки нового оборудования и усиленной рекламы на рынке
            </p>
        </li>
    </ul>
</section>