@import '~node_modules/modern-normalize/modern-normalize.css';

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    
    font-family: 'TT Hoves Pro Trial', sans-serif;
    font-style: normal;

    background-color: $background-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
  
a {
    text-decoration: none;
}

button {
    cursor: pointer;
}