.tasks {
    @extend %section;
    @extend %container;
}

.tasks__title {
    @extend %title;
}

.tasks__list {
    display: flex;
    justify-content: space-between;

    margin-top: 60px;

    color: $accent-text-color;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.63;
}

.tasks__list-item {
    display: flex;
}

.tasks__task-one {
    width: 279px;
    margin-left: 40px;
}

.tasks__task-two {
    width: 420px;
    margin-left: 30px;
}